@import '../../../assets/less/color';
.leatNav {
    height:100%;
   // float:left;
    width: 100%;
    background:@slideBg;
    color:#fff;
    .bodysss{
      background:@slideBg;
      color:@black-2;
    }
}