
//                                       公共颜色部分
//字体公共样式颜色(测试颜色可以改)
@black-2: #222;
//侧边的公共css
@slideBg:#102935;
//头部公共的css
@headerBg:#1da6be;
//选中侧边颜色
@aBg:#1ec1af;
//提示框头部颜色
@hederTbg:#00adab;
//closeColor
@CClose:#dd460a;



//                                          字大小
//大号 标题                                        
@size20:20px;
//二级 标题
@size18:18px;
//按钮  字体
@size16:16px;
//基础  字体
@size14:14px;


//                                           字体颜色
@f:#ffffff; 

//                                            按钮颜色
//按钮主色
@ab:#00ADAB;
//按钮辅色
@ef:#ef7747;
@0:#000;
//                                           公共css样式
//字体居中
.textCenter{
    text-align: center;
}
//字体变白
.textW{
    color: #fff;
}


//阿里子图图标库
.icon-shuaxin,.icon-msnui-more,.icon-shengrizhuanqu,.icon-shuaxin1,.icon-sousuo{
    font-size: 30px;
    cursor: pointer;
    color: #00aeaa;
    margin-top: 10px;
}
.radiusRand{
    border-radius:50px !important;
}
.radiusRand input{
    border-radius:50px !important;
}
