@import '../../../assets/less/color';
.header{
  width:100%;
  height:70px;
  background:@headerBg;
  //float:right;
  padding:0;
  margin:0;
 
}
.navBox{
  height: 100%;
  i{
    font-size:25px; 
    display: inline-block;
    padding: 10px 0;
  }
  .el-col,.el-row{
    height: 100%;
  }
}